:root {
  --dark-background-color: #1f2937;
  --hero-main-text-color: #f9faf8;
  --hero-secondary-text-color: #e5e7eb;
  --header-logo-text: #f9faf8;
  --button-color: #3882f6;
  --info-text-color: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}
